<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pawan Simha">
    <title>Page Not Found - ReuniteAI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" sizes="32x32">
</head>
<body>
    {% include 'navigation.html' %}

    <div class="container error-container">
        <img src="{{ url_for('static', filename='images/404.jpg') }}" alt="Page Not Found" class="error-image">
        <a href="/user/home" class="btn btn-primary">Return Home</a>
    </div>

    {% include 'footer.html' %}
</body>
</html>
